<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_propiedad.nombre %>
</p>

<%= link_to 'Edit', edit_tipo_propiedad_path(@tipo_propiedad) %> |
<%= link_to 'Back', tipo_propiedads_path %>
